@import '../../common/colors.scss';

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: $font-primary;
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.user-image , .user-image img{
  width: 28px;
  height: 28px;
}

.search-bar {
  width: 50%;
  display: flex;
  justify-content: center;

  form{
    display: flex;
    justify-content: center;
    width: 70%;

    button{
      padding: 0px 8px ;
      font-size: 20px;
      cursor: pointer;
      height: 38px;
      border-radius: 20px;
      border: none;
      width: 80px;
      margin-left: 10px;

      &:hover{
        background-color: $primary-color;
        color: #fff;
      }

    }

    input {
      font-size: 18px;
      width: 100%;
      padding: 5px 5px 5px 20px ;
      height: 38px;
      outline: none;
      border-radius: 20px;
      border: none;


      &:hover{
        background-color: $primary-color;
      color: rgb(201, 197, 197);

      }

    }

    

  }
}

@media screen and (max-width:480px) {

  .logo>span:nth-child(1)  {
    display: none;
  }


  .search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
  
    form{
      display: flex;
      justify-content: center;
      width: 70%;
  
      button{
        padding: 0 ;
        font-size: 12px;
        cursor: pointer;
        height: 20px;
        border-radius: 20px;
        border: none;
        width: 20px;
        margin-left: 10px;
  
        &:hover{
          background-color: $primary-color;
          color: #fff;
        }
  
      }
  
      input {
        font-size: 14px;
        width: 100%;
        padding: 5px 5px 5px 20px ;
        height: 20px;
        outline: none;
        border-radius: 20px;
        border: none;
  
  
        &:hover{
          background-color: $primary-color;
        color: rgb(201, 197, 197);
  
        }
  
      }
  
      
  
    }
  }
}